.row{
    margin: 0
}
#y-nav{
    width: 100%;
}
.navbar-brand{
    margin-left: 30px;
}
.navbar-nav{
    background: linear-gradient(rgb(0, 0, 0),rgba(211, 211, 211, 0.747));
    border-radius: 8px;
}
.navbar-nav li{
    padding: 0 15px;
}
.y-current-page{
    border-top: 6px solid rgb(115, 167, 20);
}
header a{
    margin: 0 25px;
    color: white;
    font-size:20px;
    font-weight: bold;
}
header a:hover{
    color: white;
}
.col-md-4{
    padding: 0;
}
.y-footer-img{
    height: 180px;
}
#y-footer-logo{
    margin-top: 20px;
    height: 90px;
}
footer a{
    color: black;
}
footer a:hover{
    color: black;
}
.svg-inline--fa.fa-w-16, .svg-inline--fa.fa-w-14{
    width: 3em;
}
.svg-inline--fa{
    font-size: small;
    height: 2em;
}
.navbar img{
    width: 85%;
}
@media screen and (max-width: 768px) {
    .y-current-page-bg{
        background-color: rgb(115, 167, 20);
    }
    .y-footer-img{
        display: none;
    }   
    .navbar img{
    width: 100px;
    }
}
