body{
    background-image: url(blogsbg.png);
}
#y-main{
    height: 800px;
    width: 75%;
    margin: auto;
}
#y-in-main{
    background: linear-gradient(rgba(187, 187, 187, 0.753),rgba(202, 202, 202, 0.747));
}
@media screen and (max-width:992px) {
    body{
        background-image: none;
    }
}