.container{
    padding: 50px;
    margin: auto;
}
.form-control{
    margin: 15px;
    border-radius: 9px;
    box-shadow: -8px 0px 6px 0px rgba(131, 131, 131, 0.22),
                0px -1.5px 6px 0px rgba(131, 131, 131, 0.22),
                4.5px 4.5px 6px 0px rgba(131, 131, 131, 0.22);
}
h3{
    color: green;
    justify-content: center;
    align-items: center;
}
.col-3 img{
    height: 75px;
}
@media screen and (max-width: 768px) {
    .col-3 img{
        height: 40px;
    }
    h3,h5{
        font-size: small;
    }
}
.col-7{
    margin-left: auto;
}
.form-group{
    margin-bottom: 38px;
}
