.container{
    margin: 0;
    padding: 200px;
    margin: auto;
}
#y-main{
    height: 800px;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url(ServicesBG.png);
}
.y-services div{
    margin: auto;
}
.y-services img{
    height: 180px;
    padding: 10px 20px;
    float: left;
}
